# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build on pull request

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version-file: '.python-version'
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Install dependencies
      run: |
        sudo apt-get install libgeos-dev
        uv sync --extra dev
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        uv run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings
        uv run flake8 . --count --exit-zero --statistics
    - name: Test with pytest
      run: |
        uv run -m pytest .
